body {
  background: #0c5345;
}

header {
  background: #094237;
  width: 100%;
  height: 4rem;
}

.navButton {
  background-color: #3c756a;
  color: #e6edec;
  display: inline;
  margin-right: 2rem;
}

.navButtons {
  margin-top: 1rem;
  float: right;
}

.tabBar {
  display: inline-block;
  width: 50%;
}