@import '~@angular/material/theming';
@include mat-core();

.light-theme {
  $primary: mat-palette($mat-teal);
  $accent: mat-palette($mat-teal, A400, A100, A700);
  $warn: mat-palette($mat-red);
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $primary-default: mat-color($primary);
  $accent-default: mat-color($accent);
  $accent-lighter: mat-color($accent, lighter);
  $accent-darker: mat-color($accent, darker);
  $warn-default: mat-color($warn);

  --theme-primary-default: #{$primary-default};
  --theme-accent-default: #{$accent-default};
  --theme-accent-lighter: #{$accent-lighter};
  --theme-accent-darker: #{$accent-darker};
  --theme-warn-default: #{$warn-default};
  --theme-text-color: black;
}

.dark-theme {
  $primary: mat-palette($mat-gray, 800);
  $accent: mat-palette($mat-gray, 700, 300, 900);
  $warn: mat-palette($mat-red);
  $theme: mat-dark-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);

  $primary-default: mat-color($primary);
  $accent-default: mat-color($accent);
  $accent-lighter: mat-color($accent, lighter);
  $accent-darker: mat-color($accent, darker);
  $warn-default: mat-color($warn);

  --theme-primary-default: #{$primary-default};
  --theme-accent-default: #{$accent-default};
  --theme-accent-lighter: #{$accent-lighter};
  --theme-accent-darker: #{$accent-darker};
  --theme-warn-default: #{$warn-default};
  --theme-text-color: white;
}
