@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$gray-palette, 800);
$accent: mat.define-palette(mat.$gray-palette, 700, 300, 900);
$warn: mat.define-palette(mat.$red-palette);

:root {
  --primary-color: #{mat.get-color-from-palette($primary)};
  --accent-color: #{mat.get-color-from-palette($accent)};
  --accent-lighter: #{mat.get-color-from-palette($accent, lighter)};
  --accent-darker: #{mat.get-color-from-palette($accent, darker)};
  --warn-color: #{mat.get-color-from-palette($warn)};
  --contrast-color: white;
}

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.all-component-themes($theme);
