@import './microbank-app-theme.scss';

// Initialized by ngAfterViewInit() in app.component.ts
:root {
  --primary-default: null;
  --accent-default: null;
  --accent-lighter: null;
  --accent-darker: null;
  --warn-default: null;
  --text-color: null;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-dialog-container .mat-dialog-container {
  border-radius: 0rem;
  margin: 0rem;
  padding: 0rem;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}
