#nav {
  height: 100%;
}

.nav-button {
  border-color: var(--accent-lighter) !important;
  border-radius: 0rem;
  height: 100%;
  width: 7rem;
}

.toolbar-button {
  background-color: var(--accent-darker) !important;
  display: inline-block;
  margin-right: 1.5rem;
  width: 6rem;
}

#register {
  margin-right: 2rem;
}

#toolbar {
  padding: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}