body {
  background: var(--accent-darker) !important;
  display: grid;
  align-items: center;
  grid-template-rows: 15% 85%;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 80% 20%;
}

main {
  display: grid;
  justify-content: center;
  grid-template-rows: 40% 20% 20% 20%;
}

h1 {
  color: var(--contrast-color) !important;
  font-weight: bolder;
  font-size: 2.3rem;
  margin-left: 1.5rem;
}

#close-button:focus #close-button:hover {
  border: none;
  background: none;
}

#close-button:hover {
  color: var(--accent-lighter) !important;
}

button,
input[type='button'] {
  outline: none;
}

button:focus-visible,
input[type='button']:focus-visible {
  outline: 0.1rem solid !important;
  outline-color: white !important;
}

#close-button {
  color: var(--contrast-color) !important;
  border: none;
  background: none;
  font-size: 3rem;
  margin-right: 0.8rem;
  display: grid;
  justify-self: end;
  place-items: center;
}

.modal-button {
  width: 6rem;
  height: 3rem;
}

#login-modal-buttons {
  display: grid;
  padding-bottom: 2rem;
  justify-items: center;
  grid-template-columns: auto auto;
}

#sign-in-button {
  background-color: var(--contrast-color) !important;
  margin-left: 0.5rem;
  color: black;
}

#register-button {
  background-color: var(--accent-darker) !important;
  border-color: var(--contrast-color) !important;
  color: var(--contrast-color) !important;
  border: 0.2rem solid;
}

.form-icon:hover {
  background-color: transparent !important;
}

.form-icon {
  background-color: transparent;
  color: var(--contrast-color) !important;
  margin: 0rem;
}

#hide-password-icon {
  margin-right: 0.3rem;
}

#user-icon {
  margin-right: 0.3rem;
  pointer-events: none;
}

#account-icon {
  color: var(--contrast-color) !important;
  line-height: initial;
  font-size: 7rem;
  display: grid;
  padding-bottom: 1rem;
  justify-content: center;
  align-content: start;
}

.form {
  color: var(--contrast-color) !important;
}

mat-form-field {
  transition: none;
}
